.active-client{
  background: #71c016;height: 0.75rem;width: 0.75rem;position: relative;bottom: 8px;left: 25px;border: 0.13rem solid #ffffff;border-radius: 100%;
}
.inactive-client{
  background: red;height: 0.75rem;width: 0.75rem;position: relative;bottom: 8px;left: 25px;border: 0.13rem solid #ffffff;border-radius: 100%;
}

.add_follower{float:right;width:36px !important;position: relative;right: 60px;
	height: 36px !important;background-color: white !important;opacity: 0.9;z-index: 1;}
.follower-plus{position: relative;top: 8px;left: -5px;}
.followers-list{margin-right:30px;float: right;position: relative;right: 20px;}
.followers-list img{margin-left: -10px;}